* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #B67B65;
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 2%;
    background-color: #478966;
    height: 500px;
}

.scoreWrap {float: left;}
.wordsCompletedWrap {float: right;}
.ProgressWrap {
    text-align: left;
    color: #ffffff;
    font-size: 26px;
    position: relative;
    top: 50px;
    bottom: 0px;
}

.outerWrap:after {
    content: "";
    display: block;
    clear: both;
}

.bg {
    background-color: rgb(4, 175, 33);
}

.bg-wrong {
    background-color: #FF0000;
}

.scoreWrap p, .scoreWrap span, .timeWrap p, .timeWrap span, .wordsCompletedWrap p,  .wordsCompletedWrap span{
    font-size: 30px;
    color: #FF7373;
}

.wordsWrap {
    margin-top: 50px;
    margin-bottom: 0px;
}

.words span{
    font-size: 80px;
    letter-spacing: 1px;
    color: #ECF0F1;
}

#progress {
    position: relative;
    top: 60px;
    width: 100%;
    background-color: #E3C6AD;
}
  
#progressBar {
    text-align: center; 
    line-height: 30px; 
    color: white; 
    width: 0.1%;
    height: 40px;
    background-color: #B67B65;
}
